/* Final Join Waitlist */
.final-join-waitlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-bottom: 0;
}

/* Ensures the image appears below the text but aligns with footer */
.final-join-waitlist .still4 {
  width: 500%;
  max-width: 1200px;
  margin-top: 3rem; /* Creates spacing below button */
}

.final-join-waitlist .still4 img {
  width: 500%;
  opacity: 1%;
  height: auto;
  object-fit: contain;
}