/* Navbar Styles */
.navbar {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 747px;
    border-radius: 129px;
    background: rgba(217, 217, 217, 0.13);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
    /* font-size: 12px; */
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 100px;
    transition: 0.3s;
  }
  
  .nav-links .joinwaitlist {
    background-color: #FB6839;
    color: white;
  }
  
  .nav-links a:hover {
    background-color: #C4C4C4;
  }

  
  .logo-img {
    height: 20px; /* Adjust as needed */
    width: auto;
  }